<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<meta charset="UTF-8" />
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta name="_csrf_name" th:content="${_csrf.parameterName}"/>
<script th:src="@{/js/jquery/jquery-1.11.3.min.js}"></script>
<script th:src="@{/js/lib/jquery.handle.js}"></script>
<script th:src="@{/js/lib/ajaxfileupload.js}"></script>
<link th:href="@{/kindeditor/themes/default/default.css}" />
<link rel="stylesheet" th:href="@{\bootstrap\css\bootstrap.css}" />
<link rel="stylesheet" th:href="@{\css\home.css}" />
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<div id="head" th:fragment="home_head">
			<span></span>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header" style="left: 100px;">
						<a class="navbar-brand" href="/home">首页</a>
						<form class="navbar-form navbar-left" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="我来搜一搜" />
							</div>
							<button type="submit" class="btn btn-default">搜索</button>
						</form>
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>

					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">

							<!-- 用户登陆就显示当前登陆用户 -->
							<li th:if="${user}"><a href="#"><span
									class="glyphicon glyphicon-user" aria-hidden="true"
									th:text="${user.username}">模拟用户</span></a></li>

							<!-- 用户未登陆就显示登陆-->
							<li th:if="${user==null}"><a href="/login"><span
									class="glyphicon glyphicon-user" aria-hidden="true">登陆</span></a></li>

							<li><a th:href="@{/logout}"><span
									class="glyphicon glyphicon-log-out" aria-hidden="true">退出</span></a></li>

							<li><a href="#"><span class="glyphicon glyphicon-cog"
									aria-hidden="true">设置</span></a></li>
							<li><a href="#"><span
									class="glyphicon glyphicon-comment" aria-hidden="true">消息</span></a>
							</li>
							<li><a href="/square"><span
									class="glyphicon glyphicon-flag" aria-hidden="true">广场</span></a>
							</li>
						</ul>

					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->

			</nav>
		</div>
		<!-- 主体部分 -->
		<div class="content" th:fragment="content">
			<div class="container">
				<div class="row">
					<!-- 左侧导航栏部分 -->
					<div class="col-md-2 con_nav">
						<ul class="nav nav-pills nav-stacked">
							<li role="presentation"><a href="/home">首页</a></li>
							<li role="presentation"><a th:each="ele : ${session.items}" th:text="${ele.typeDescribe}" th:href="'/user_focus/'+${ele.ftId}">朋友圈</a></li>
						</ul>
					</div>
					<!-- 微博内容部分 -->
					<div class="col-md-7">
						<!-- 发布内容部分 -->
						<div class="speak">
							<p class="text-success">
								<strong>有什么新鲜的事值得分享</strong>
							</p>
							<textarea id="editor_id" name="content"
								style="width: 400px; height: 300px;"></textarea>
							<div class="text-right">
								<button id="submit" class="btn btn-default">发布</button>
							</div>
						</div>
						<!-- 动态部分 -->
						<div id="blog_content" th:name="${sumPage}">
						    
						</div>
							
						<div id="share"></div>
						<div class="pagination"></div>
					</div>
					<!-- 右侧信息部分 -->
					<div class="col-md-3">
						<!-- 个人信息部分 -->
						<div class="person-info">
							<div class="person-header">
							  <div id="haveHead" th:if="${session.userDto.headPicture}!=null">
							   <a href="#">
								<img class="img-circle" alt="80x80" src="../images/loginImages/huaidan.jpg" />
							   </a>
							   </div>
							   <div id="haveHead" th:if="${session.userDto.headPicture}==null">
							      <input type="file" id="file" name="file"/>
                                  <button id="start_upload">确定上传</button>
							   </div>
							</div>
							<div class="name text-center" th:text="${user.username}">
								罗罗罗罗罗罗罗敏</div>
							<div class="row">
								<div class="col-md-10 col-md-offset-2">
									<ul class="list-inline fans">
										<li><a href="##"><strong th:text="${session.userDto.countFocus}">373</strong><span>关注</span></a></li>
										<li><a href="##"><strong th:text="${session.userDto.countFans}">151</strong><span>粉丝</span></a></li>
										<li><a href="##"><strong th:text="${session.userDto.countBlogs}">1213</strong><span>微博</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="right-con">
							<p>【比赛结果】2:0！Team
								WE战胜RoyalNeverGiveup获得联赛收官战的胜利！LPL总战绩4胜6负！最后祝隔壁明天战胜对手获得联赛第一</p>
							<p>【比赛结果】2:0！Team
								WE战胜RoyalNeverGiveup获得联赛收官战的胜利！LPL总战绩4胜6负！最后祝隔壁明天战胜对手获得联赛第一</p>
							<p>【比赛结果】2:0！Team
								WE战胜RoyalNeverGiveup获得联赛收官战的胜利！LPL总战绩4胜6负！最后祝隔壁明天战胜对手获得联赛第一</p>
							<p>【比赛结果】2:0！Team
								WE战胜RoyalNeverGiveup获得联赛收官战的胜利！LPL总战绩4胜6负！最后祝隔壁明天战胜对手获得联赛第一</p>
						</div>
					</div>
				</div>

			</div>
			
		</div>
	</div>
    <div th:fragment="quoteScript">
       <script th:src="@{/js/lib/date.format.js}"></script>
       <script th:src="@{/kindeditor/kindeditor-all.js}"></script>
       <script th:src="@{/kindeditor/lang/zh-CN.js}"></script>
       <script th:src="@{/js/base.js}"></script>
       <script th:src="@{/js/home.js}"></script>
       <script th:src="@{/js/lib/jqPaginator.js}"></script>

    </div>
</body>
<script type="text/javascript">
    var url="/user_blog/getAllBlog/";
    loadData(url,1);
</script>
</html>
