<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="home::header">
<meta charset="UTF-8" />
</head>
<body>
	<div class="container">
		<div id="head" th:include="home :: home_head"></div>
		<div>
			<h3 class="text-center" th:text="${userDto.username}"></h3><button type="button" class="btn btn-info">关注</button>
			<input type="text" th:value="${userDto.isFocus}"/>
			 <ul class="text-center list-inline fans">
					<li style="width:5%;"><a href="##">
					<strong th:text="${userDto.countFocus}">373</strong><span>关注</span></a></li>
					<li style="width:5%;"><a href="##">
					<strong th:text="${userDto.countFans}">151</strong><span>粉丝</span></a></li>
					<li style="width:5%;"><a href="##">
					<strong th:text="${userDto.countBlogs}">1213</strong><span>微博</span></a></li>
			</ul>
			
		</div>
		<div>
			<ul class="nav nav-tabs nav-justified">
				<li role="presentation"><a href="#/personInfo">个人资料</a></li>
				<li role="presentation"><a href="#/user/visit_user/blogs">微博</a></li>
			</ul>
		</div>
		<div  id="personInfo">
		     <div id="info">
	                               用户名 :<span th:text="${visitUser.username}"></span><br/><br/>
	                              真实姓名:<span th:if="${visitUser.trueName}" th:text="${visitUser.trueName}"></span>
	                   <span th:if="${visitUser.trueName==''}">无</span><br/><br/>
	                             电话号码:<span th:if="${visitUser.phone}" th:text="${visitUser.phone}"></span>
	                   <span th:if="${visitUser.phone==''}">无</span><br/><br/>
	                             性别:<span  th:if="${visitUser.gender=='m'}">男</span>
	                <span  th:if="${visitUser.gender=='f'}">女</span><br/><br/>
	                            地址:<span th:if="${visitUser.address}" th:text="${visitUser.address}"></span>
	               <span th:if="${visitUser.address==''}">无</span><br/><br/>
	                           年龄:<span th:if="${visitUser.age}" th:text="${visitUser.age}"></span>
	               <span th:if="${visitUser.age==''}">无</span><br/><br/>
	                           电子邮箱 :<span th:if="${visitUser.email}" th:text="${visitUser.email}"></span>
	                  <span th:if="${visitUser.email==''}">无</span><br/><br/>
	                  <input type="hidden" id="id" th:value="${visitUser.uId}"/>
	         </div>
	         <div id="blog_content"></div>
		</div>
	</div>
	<script th:src="@{/js/visitUser.js}"></script>
</body>
</html>